.home-section {
  color: #3c3c3b;
  overflow: hidden;
  position: relative;
}
.home-section-title {
  font-size: 36px;
  line-height: 60px;
  height: 60px;
  margin-bottom: 25px;
  text-align: center;
  position: relative;
  font-weight: bold;
}
.home-section-title.inverse {
  color: #ecedee;
}
.home-section-title-underline {
  width: 60px;
  height: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -30px;
  background-color: #e26f42;
}
.home-section-desc {
  text-align: center;
  max-width: 800px;
  margin: 30px auto;
  font-size: 16px;
  color: #afb7bc;
  line-height: 30px;
}
.home-section-desc-bold {
  color: #575756;
  font-weight: bold;
}
.home-section-info {
  text-align: center;
  margin: 30px;
  color: #575756;
}
.home-account {
  background-color: #e26f42;
  overflow: visible;
}
.home-account-topline {
  height: 10px;
  background-color: #dd4400;
}
.home-account-left {
  background-color: #e26f42;
  background-image: url(../images/index-bg.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 100% auto;
  color: #ecedee;
  float: left;
  width: 50%;
  box-sizing: border-box;
}
.home-account-left-inner {
  margin-left: auto;
}
.home-account-left-top {
  padding: 25px 0 25px 50px;
}
.home-account-left-top-logo {
  width: 235px;
}
.home-account-left-content {
  display: table;
  min-height: 400px;
  width: 400px;
  margin: auto;
  margin-bottom: 100px;
}
.home-account-left-content-inner {
  display: table-cell;
  text-align: left;
  vertical-align: middle;
}
.home-account-left-title {
  font-size: 24px;
  text-align: center;
  margin-right: -50px;
  margin-left: -50px;
  letter-spacing: 2px;
  line-height: 40px;
}
.home-account-left-title strong {
  font-size: 28px;
  font-weight: bolder;
  text-decoration: underline;
  cursor: pointer;
}
.home-account-left-info {
  margin-top: 40px;
  text-align: center;
  font-size: 16px;
  letter-spacing: 1px;
}
.home-account-left-btn {
  display: block;
  color: #ecedee;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 1px;
  width: 200px;
  margin: auto;
  text-align: center;
  height: 40px;
  line-height: 40px;
  border: 1px solid #ecedee;
  border-radius: 10px;
  margin-top: 20px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.home-account-left-btn:hover {
  color: #e26f42;
  background-color: #ecedee;
}
.home-account-right {
  background-color: #ecedee;
  float: left;
  width: 50%;
  box-sizing: border-box;
}
.home-account-right-inner {
  margin-right: auto;
}
.home-account-right-top {
  padding: 25px 50px 25px 0;
  text-align: right;
}
.home-account-right-top-nav {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}
.home-account-right-top-nav li {
  float: left;
  margin-right: 15px;
  padding: 3px 0;
}
.home-account-right-top-nav li a {
  padding: 0 8px;
  display: inline-block;
  height: 24px;
  line-height: 24px;
  color: #dd4400;
  text-decoration: none;
}
.home-account-right-top-nav li a:hover {
  text-decoration: underline;
}
.home-account-right-top-nav li a.active {
  font-weight: bold;
}
.home-account-right-top-nav-login {
  border-right: 1px solid #dd4400;
}
.home-account-right-content {
  display: table;
  min-height: 400px;
  width: 100%;
  margin-bottom: 100px;
}
.home-account-right-content-inner {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.home-account-right-choose {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  letter-spacing: .5px;
}
.home-account-right-choose.hold {
  font-size: 12px;
  margin-bottom: 30px;
}
.home-account-right-choose-im {
  color: #e26f42;
  margin-bottom: 10px;
}
.home-account-right-choose-options {
  color: #cdcdcd;
}
.home-account-right-choose-options a {
  text-decoration: none;
  color: #cdcdcd;
}
.home-account-right-choose-options a.selected {
  color: #e26f42;
}
.home-account-right-form {
  display: inline-block;
  width: 380px;
  text-align: left;
}
.home-account-right-form-title {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.home-account-right-form-input-group {
  margin: 15px auto 0 auto;
  position: relative;
}
.home-account-right-form-input-group > input,
.home-account-right-form-input-group > select,
.home-account-right-form-input-group > .j-select {
  outline: none;
  padding: 5px 20px;
  background-color: #dbdbdb;
  border: none;
  font-size: 12px;
  box-sizing: border-box;
  width: 100%;
  height: 36px;
  line-height: 26px;
  border-radius: 3px;
}
.home-account-right-form-input-group > input.phone {
  padding-left: 50px;
}
.home-account-right-form-input-group .pin-number {
  display: block;
  width: 100%;
  height: 36px;
}
.home-account-right-form-input-group .icon-select-down {
  top: 15px;
  position: absolute;
  z-index: 1;
}
.home-account-right-form-input-group .icon-select-down.right {
  right: 10px;
}
.home-account-right-form-input-group .icon-select-down.left {
  left: 10px;
}
.home-account-right-form-input-group .j-select.phone {
  width: 50px;
  position: absolute;
  left: 0;
  top: 0;
}
.home-account-right-form-input-group .j-select ul {
  position: relative;
  z-index: 2;
  border: 1px solid #edeeef;
  border-radius: 3px;
  background-color: #f5f6f7;
  margin: 3px -20px;
}
.home-account-right-form-input-group .j-select ul li {
  padding: 3px 10px;
}
.home-account-right-form-input-group .j-select ul li:hover {
  background-color: #ecedee;
}
.home-account-right-form-info {
  margin: 5px auto;
  font-size: 12px;
}
.home-account-right-form-info-left {
  float: left;
}
.home-account-right-form-info-right {
  float: right;
}
.home-account-right-form-info-left,
.home-account-right-form-info-right {
  text-decoration: none;
  color: #e26f42;
}
.home-account-right-form-button {
  display: block;
  width: 380px;
  height: 30px;
  font-size: 14px;
  text-decoration: none;
  color: #e26f42;
  border: 1px solid;
  line-height: 30px;
  border-radius: 50px;
  text-align: center;
  margin-top: 20px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.home-account-right-form-button:hover {
  background-color: #e26f42;
  color: #f5f6f7;
}
.home-account-right-form-upload {
  display: inline-block;
  line-height: 36px;
  text-decoration: underline;
  font-size: 14px;
  color: #a5a5a5;
  position: relative;
}
.home-account-right-form-upload.right {
  float: right;
  margin-right: 5px;
}
.home-account-right-form-upload-file {
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
  left: 0;
  width: 100%;
  top: 0;
  bottom: 0;
}
.home-account-right-form-next {
  text-decoration: none;
  color: #e26f42;
  font-size: 14px;
  font-weight: bold;
}
.home-account-right-form-next .icon-next {
  margin-left: 10px;
}
.home-account-right-form-inner {
  margin-right: -20px;
}
.home-account-right-form-inner .home-account-right-form-input-group {
  float: left;
  margin-right: 20px;
  width: 380px;
}
.home-account-right-form-inner .home-account-right-form-input-group.half {
  width: 180px;
}
.home-account-right .mentor-register .step-two {
  margin-top: 15px;
}
.home-account-right .mentor-register .step-two-left {
  float: left;
  width: 180px;
  padding-right: 9.5px;
  margin-right: 9.5px;
  border-right: 1px solid #dbdbdb;
}
.home-account-right .mentor-register .step-two-right {
  float: left;
  width: 180px;
}
.home-account-right .mentor-register .step-two-inner {
  margin-right: -10px;
  margin-top: -15px;
}
.home-account-right .mentor-register .step-two-inner .home-account-right-form-input-group {
  float: left;
  margin-right: 10px;
  width: 180px;
}
.home-account-right .mentor-register .step-two-inner .home-account-right-form-input-group.half {
  width: 85px;
}
.home-account-right .mentor-register .step-two .home-account-right-form-info {
  width: 180px;
}
.login .home-account-right-form-info,
.login .home-account-right-form-input-group {
  width: 280px;
}
.login .home-account-right-form-button {
  margin-left: auto;
  width: 80px;
  height: 24px;
  line-height: 24px;
}
.home-account-next-btn {
  background: #fff;
  display: block;
  width: 46px;
  height: 36px;
  position: absolute;
  text-align: center;
  padding-top: 10px;
  border-radius: 50%;
  bottom: -23px;
  left: 50%;
  margin-left: -23px;
  z-index: 1;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.home-account-next-btn:hover {
  bottom: -10px;
}
.home-services-inner {
  padding: 50px 100px;
}
.home-services-main {
  width: 930px;
  margin: auto;
  overflow: hidden;
  height: 375px;
}
.home-services-colume {
  float: left;
  width: 310px;
  height: 375px;
  overflow: hidden;
  transition: width .3s ease;
}
.home-services-colume.active {
  width: 730px;
  transition: width .4s ease;
}
.home-services-colume.fold {
  width: 100px;
}
.home-services-colume-inner {
  width: 730px;
}
.home-services-colume-banner {
  width: 310px;
  height: 375px;
  float: left;
}
.home-services-colume-details {
  float: left;
  width: 420px;
  height: 375px;
  box-sizing: border-box;
  font-size: 12px;
  position: relative;
  line-height: 20px;
}
.home-services-colume-details.one {
  color: #ecedee;
  background-color: #344463;
  padding: 20px;
}
.home-services-colume-details .one-top-link {
  color: #ecedee;
  font-style: italic;
}
.home-services-colume-details .one-item {
  position: relative;
  padding-left: 80px;
  margin-top: 20px;
}
.home-services-colume-details .one-item-left {
  position: absolute;
  left: 0;
  top: 0;
  width: 70px;
  text-align: right;
}
.home-services-colume-details .one-item-left p {
  margin: 0;
}
.home-services-colume-details .one-item-text {
  margin: 0;
  padding-left: 10px;
  border-left: 1px solid #ecedee;
}
.home-services-colume-details .one-item-text-left {
  width: 120px;
  display: inline-block;
}
.home-services-colume-details .one-item-text-right {
  width: 160px;
  display: inline-block;
}
.home-services-colume-details .one-bottom-link {
  border-bottom: 2px solid #ecedee;
  bottom: 30px;
  right: 30px;
  color: #ecedee;
}
.home-services-colume-details.two {
  padding: 30px 20px;
  color: #ecedee;
  background-color: #e26f42;
}
.home-services-colume-details .two-item {
  padding: 30px 0 30px 40px;
  position: relative;
  float: left;
  width: 50%;
  box-sizing: border-box;
  height: 140px;
  overflow: hidden;
  margin-bottom: 20px;
  line-height: 20px;
}
.home-services-colume-details .two-item-left {
  font-size: 22px;
  width: 26px;
  text-align: right;
  position: absolute;
  left: 0;
  top: 35px;
}
.home-services-colume-details .two-item:hover,
.home-services-colume-details .two-item.active {
  background-color: #dd4400;
}
.home-services-colume-details .two-bottom-link {
  border-bottom: 2px solid #ecedee;
  bottom: 20px;
  right: 40px;
  color: #ecedee;
}
.home-services-colume-details.three {
  color: #3c3c3b;
  background-color: #ecedee;
  padding: 0px 40px;
}
.home-services-colume-details .three-text {
  margin: 30px 0;
}
.home-services-colume-details .three-bottom-link {
  border-bottom: 2px solid #afb7bc;
  bottom: 20px;
  right: 40px;
  color: #afb7bc;
}
.home-services-colume-details .one-bottom-link,
.home-services-colume-details .two-bottom-link,
.home-services-colume-details .three-bottom-link {
  position: absolute;
  text-decoration: none;
  font-weight: bold;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding-bottom: 0;
}
.home-services-colume-details .one-bottom-link:hover,
.home-services-colume-details .two-bottom-link:hover,
.home-services-colume-details .three-bottom-link:hover {
  padding-bottom: 5px;
}
.home-services-two-area {
  width: 930px;
  margin: 10px auto;
  color: #ecedee;
  background-color: #e26f42;
  position: relative;
  overflow: hidden;
}
.home-services-two-inner {
  padding: 50px;
  margin-right: -50px;
}
.home-services-two-colume {
  float: left;
  width: 390px;
  margin-right: 50px;
  font-size: 14px;
  line-height: 24px;
}
.home-services-two-colume p.title {
  font-size: 18px;
  font-weight: bold;
}
.home-services-two-colume ul {
  padding-left: 20px;
}
.home-services-two-colume li {
  margin: .7em 0;
}
.home-services-two-apply {
  position: absolute;
  right: 50px;
  bottom: 20px;
  color: #ecedee;
  text-decoration: none;
  font-size: 20px;
  font-weight: bolder;
}
.home-services-two-apply:hover {
  text-decoration: underline;
}
.home-offers {
  background-color: #ecedee;
  height: 400px;
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.home-offers.fold {
  height: 0;
  opacity: 0;
}
.home-offers-inner {
  padding: 50px 330px;
  max-width: 1200px;
  min-width: 800px;
  min-height: 400px;
  box-sizing: border-box;
  position: relative;
  margin: auto;
}
.home-offers-left,
.home-offers-right {
  position: absolute;
  width: 130px;
  top: 120px;
  color: #e26f42;
  font-weight: bold;
}
.home-offers-left {
  left: 100px;
}
.home-offers-right {
  right: 100px;
}
.home-offers-info-box {
  margin: auto;
  width: 128px;
  height: 128px;
  text-align: center;
  line-height: 128px;
  left: 100px;
  border: 1px solid #e26f42;
  font-size: 26px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.home-offers-info-box span {
  -webkit-transition: transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  -webkit-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
  display: block;
}
.home-offers-info-box:hover {
  background-color: #e26f42;
  color: #ecedee;
}
.home-offers-info-box:hover span {
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.home-offers-info-number {
  cursor: pointer;
  text-align: center;
  font-size: 72px;
  font-style: italic;
  margin-top: 15px;
}
.home-offersub {
  height: 656px;
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.home-offersub.fold {
  height: 0;
  opacity: 0;
}
.home-offersub-inner {
  padding: 50px 0;
  width: 928px;
  margin: auto;
  text-align: center;
}
.home-offersub-close {
  margin-bottom: 50px;
}
.home-offersub-list {
  margin-right: -3px;
}
.home-offersub-item {
  float: left;
  width: 130px;
  height: 130px;
  box-sizing: border-box;
  border-top: 10px solid #e26f42;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  color: #afb7bc;
  position: relative;
  margin-right: 3px;
  margin-bottom: 3px;
  overflow: hidden;
}
.home-offersub-item-inner {
  height: 130px;
  width: 130px;
  background-color: #1e2020;
}
.home-offersub-item:hover .home-offersub-item-mask {
  top: -10px;
}
.home-offersub-item-mask {
  position: absolute;
  height: 130px;
  background-color: #e26f42;
  top: -130px;
  left: -1px;
  right: -1px;
  color: white;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.home-offersub-item-mask-title {
  font-size: 20px;
  margin: 30px 0 10px 0;
}
.home-offersub-item-mask-mentor {
  font-size: 14px;
}
.home-offersub-item-name {
  color: white;
  font-size: 20px;
  padding: 10px 0;
}
.home-offersub-item-name.ask {
  font-size: 30px;
}
.home-offersub-item-desc {
  font-size: 12px;
  padding: 5px;
}
.home-team {
  background-color: #344463;
  color: #f5f6f7;
}
.home-team-inner {
  padding: 50px 100px;
}
.home-team-member {
  width: 910px;
  margin: 50px auto 20px auto;
}
.home-team-member-list {
  margin-right: -80px;
  margin-bottom: -70px;
}
.home-team-member-item {
  position: relative;
  height: 70px;
  width: 110px;
  padding: 28px 0 28px 140px;
  float: left;
  margin-right: 80px;
  margin-bottom: 70px;
}
.home-team-member-item-photo {
  width: 125px;
  height: 125px;
  position: absolute;
  border-radius: 50%;
  border: 1px solid #262b33;
  left: 0;
  top: 0;
}
.home-team-member-item-name {
  font-size: 24px;
}
.home-team-member-item-info {
  font-size: 16px;
}
.home-teamsub-inner {
  padding: 50px 100px;
}
.home-teamsub-company {
  max-width: 980px;
  margin: auto;
}
.home-teamsub-company-logo {
  width: 14.2857%;
  display: block;
  float: left;
}
.home-contact-inner {
  padding: 50px 100px;
  height: 620px;
  background-image: url(../images/contact-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.home-contact-list {
  margin: 20px -50px;
  text-align: center;
}
.home-contact-icon {
  width: 260px;
  display: inline-block;
  color: #f5f6f7;
  text-decoration: none;
}
.home-contact-icon img {
  position: relative;
  top: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
a.home-contact-icon:hover img {
  top: -10px;
}
.home-contact-icon > div {
  margin-top: 15px;
}
.home-contact-wx {
  width: 52px;
}
.home-contact-ewm {
  width: 95px;
}
.home-contact-mail {
  width: 52px;
}
.home-contact-form {
  color: #f5f6f7;
  width: 600px;
  margin: 40px auto;
  padding: 20px 20px 80px 20px;
  border: 1px solid #f5f6f7;
  position: relative;
}
.home-contact-form-group-input,
.home-contact-form-group-textarea {
  box-sizing: border-box;
  padding: 15px;
  float: left;
}
.home-contact-form-group-input label,
.home-contact-form-group-textarea label {
  display: block;
  font-size: 16px;
}
.home-contact-form-group-input {
  width: 50%;
}
.home-contact-form-group-textarea {
  width: 100%;
  margin-top: 10px;
}
.home-contact-form input,
.home-contact-form textarea {
  background-color: transparent;
  color: #f5f6f7;
  display: block;
  width: 100%;
}
.home-contact-form input {
  border: none;
  border-bottom: 1px solid #f5f6f7;
}
.home-contact-form textarea {
  border: 1px solid #f5f6f7;
  margin-top: 10px;
}
.home-contact-form button {
  display: block;
  height: 45px;
  color: #f5f6f7;
  background-color: transparent;
  border: 1px solid #f5f6f7;
  text-align: center;
  font-size: 16px;
  width: 160px;
  border-radius: 30px;
  position: absolute;
  bottom: 20px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.home-contact-form button:hover {
  color: #333333;
  background-color: #f5f6f7;
}
.home-contact-form-upload {
  left: 30px;
}
.home-contact-form-send {
  right: 30px;
}
.home-contact-phone {
  padding: 30px 40px;
  background-color: #e26f42;
  color: #ecedee;
  font-size: 14px;
  text-align: right;
}
.home-contact-phone .icon-phone {
  margin-bottom: -7px;
  margin-right: 5px;
}
@media screen and (max-width: 1120px) {
  .home-team-member {
    width: 810px;
    margin: 40px auto 20px auto;
  }
  .home-team-member-list {
    margin-right: -60px;
    margin-bottom: -50px;
  }
  .home-team-member-item {
    padding: 20px 0 20px 120px;
    margin-right: 60px;
    margin-bottom: 50px;
  }
  .home-team-member-item-photo {
    width: 100px;
    height: 100px;
  }
}

