﻿body {
    background: #eeedef;
    color: #777777;
    font-size: 14px;
    line-height: 1.9;
    letter-spacing: 0;
    padding: 0;
    font-family: 'Helvetica Neue', 'Abel', 'Hiragino Sans GB', 'Microsoft YaHei';
}

h1, h2, h3, h4, h5, h6 {
    letter-spacing: 0px;
    font-family: 'Abel', 'Hiragino Sans GB', 'Microsoft YaHei';
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: 1.6 !important;
    color: #363a47;
}

a {
    color: #696969;
}

.cf {
    clear: both;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    text-decoration: none !important;
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
}

.widt12 {
    width: 1200px;
}

.width92 {
    width: 920px;
}

html, body {
    background: #fff;
}

.header {
    width: 1200px;
    height: 90px;
}

    .header .logo {
        width: 185px;
        height: 63px;
        background: url(../img/logo.png);
        float: left;
        margin-left: 17px;
        margin-top: 15px;
    }

.nav {
    float: left;
    margin-top: 15px;
}

    .nav li {
        float: left;
        margin-left: 10px;
        border-right: 2px solid rgba(255,255,255,0) !important;
        display: block;
    }

        .nav li a {
            color: #7d0022 !important;
            font-weight: 400;
            font-family: 'Abel', 'Hiragino Sans GB', 'Microsoft YaHei';
            letter-spacing: -0.2px !important;
            line-height: 20px;
            position: relative;
            display: block;
            outline: 0 !important;
            text-decoration: none !important;
            font-size: 13px;
            padding: 7px 15px;
        }

            .nav li a:hover {
                opacity: 0.8;
                border-bottom: 1px solid #7d0022;
                border-radius: 0px;
            }

.botton:hover {
    background: url(../img/btn1.png);
}

.botton {
    width: 132px;
    height: 34px;
    background: url(../img/btn.png);
    float: right;
    margin-right: 15px;
    margin-top: 27px;
    cursor: pointer;
}

    .botton a {
        display: block;
    }

.banner {
    width: 100%;
    background: url(../img/bg1.png);
    height: 1150px;
    padding-top: 50px;
}

    .banner p {
        text-align: center;
    }

        .banner p.t1 {
            font-size: 48px;
            color: #fff;
            margin-top: 45px;
        }

        .banner p.text {
            font-size: 30px;
            color: #fff;
            line-height: 30px;
        }

/*VIP Package*/
.content_one {
    width: 1005px;
    margin: 0 auto;
    margin-top: -108px;
}

    .content_one .content_one_tit {
    }

        .content_one .content_one_tit span {
            font-family: 微软雅黑;
            font-size: 30px;
            color: black;
        }

    .content_one .one_img_one_one {
        text-align: center;
        line-height: 215px;
        width: 215px;
        height: 215px;
        background-image: url(../img/images/pic_one.png);
    }
    .one_img_one_one:hover {
        text-align: center;
        background:#932f4b;
		opacity:0.8;
    }
        .content_one .one_img_one_one span {
            font-size: 140px;
            font-family: 微软雅黑;
            color: white;
        }
    .one_img_one_one:hover span {
	display: none;
}
  .one_img_one_one:hover .nonedisplay {
	display: block;
}
    .content_one .one_img_one_one_mb {
        width: 215px;
        height: 215px;
        background-color: #9e435d;
        opacity: 0.9;
        margin-top: -215px;
        text-align: center;
        color: white;
        font-size: 18px;
        font-family: 微软雅黑;
        display: none;
    }
	.nonedisplay {
		display: none;
	}
	.nonedisplay:hover  {
		display: block;
	}

.content_one_img_one_text {
    width: 215px;
    height: 80px;
    background-color: #edecf1;
    text-align: center;
    margin-top: 10px;
    line-height: 20px;
    color: black;
}

.content_one .one_img_one_two {
    background-image: url(../img/images/pic_two.png);
}
.one_img_one_two:hover {
        text-align: center;
        background:#932f4b;
		opacity:0.8;
    }
	
.content_one .one_img_one_three {
    background-image: url(../img/images/pic_three.png);
}
.one_img_one_three:hover {
        text-align: center;
        background:#932f4b;
		opacity:0.8;
    }
	
.content_one .one_img_one_four {
    background-image: url(../img/images/pic_four.png);
}
.one_img_one_four:hover {
        text-align: center;
        background:#932f4b;
		opacity:0.8;
    }
	
.content_one .pic_five_text {
    width: 450px;
    height: 215px;
    background-color: #9b465e;
    float: left;
    padding-left: 20px;
}
.content_two {
    /*background-image: url(../img/images/bg.png);
    width: 100%; height: 2655px;
    background-size: 100%;*/
}

/*Wall Street Internship Program*/
.content_two {
 width: 100%;
 height: 100%;
 opacity: 1; 
 visibility: inherit; 
 background-image: url("../img/images/bg.png"); 
 background-color: rgba(0, 0, 0, 0); 
 background-size: cover; 
 background-position: 50% 0%; 
 background-repeat: no-repeat;
}

    .content_two .content_two_tit {
        /*width: 1005px;margin: 0 auto;*/
        width: 990px;
    }

        .content_two .content_two_tit span {
            color: black;
            display: inherit;
            
        }