﻿body { background: #eeedef; color: #777777; font-size: 14px; line-height: 1.9; letter-spacing: 0; font-weight: 400; padding: 0; font-family: "Helvetica Neue" , Helvetica, Arial, sans-serif; }
h1, h2, h3, h4, h5, h6 { letter-spacing: 0px; font-weight: normal; position: relative; padding: 0 0 10px 0; font-weight: normal; line-height: 1.6 !important; color: #363a47; }
p { padding: 0 0 20px 0; }
p { margin: 0 0 10px; }
a { color: #696969; }
.cf { clear: both; }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { text-decoration: none !important; }
*:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.container { margin: 0 auto; }
.widt12 { width: 1200px; position: relative; margin-left: auto; margin-right: auto;}
.width92 { width: 920px; }
img { vertical-align: middle; }
.small { font-size: 14px; }
.center { text-align: center; }
html, body { background: #fff; }
.header { width: 100%; height: 90px;top: 0; z-index: 9999; position: fixed; background: #ffffff !important;}
.header .logo { width: 185px; height: 63px; background: url(../img/logo.png); float: left; margin-left: 17px; margin-top: 15px; }
.nav { float: left; margin-top: 15px; }
.nav li { float: left; margin-left: 10px; border-right: 2px solid rgba(255,255,255,0) !important; display: block; }
.nav li a { color: #7d0022 !important; font-weight: 400; font-family: 'Abel' , 'Hiragino Sans GB' , 'Microsoft YaHei'; letter-spacing: -0.2px !important; line-height: 20px; position: relative; display: block; outline: 0 !important; text-decoration: none !important; font-size: 13px; padding: 7px 15px; }
.nav li a:hover { opacity: 0.8; border-bottom: 1px solid #7d0022; border-radius: 0px; }
.botton:hover { background: url(../img/btn1.png); }
.botton { width: 132px; height: 34px; background: url(../img/btn.png); float: right; margin-right: 15px; margin-top: 27px; cursor: pointer; }
.botton a { display: block; }

.banner { width: 100%; background: url(../img/bg1.png); height: 1150px; margin-top: 90px; background-size: cover; background-position: 50% 0%; background-repeat: no-repeat; }
.banner p { text-align: center; }
.banner p.t1 { font-size: 48px; color: #fff; margin-top: 45px; }
.banner p.text { font-size: 30px; color: #fff; line-height: 30px; }
.Session { width: 100%; top:250px; position: relative; }
.Session h1 { font-size: 30px; color: #000; }
.Session .contents { margin-left: -10px; }
.Session .contents ul { margin-left: -45px; }
.Session .contents li div:hover ~span{display:block;}
.Session .contents li.t1 { background: url(../img/t1.png); }
.Session .contents li.t2 { background: url(../img/t2.png); }
.Session .contents li.t3 { background: url(../img/t3.png); }
.Session .contents li.t4 { background: url(../img/t4.png); }
.Session .contents li.t5 { background: url(../img/t5.png); }
.Session .contents li.t6 { background: url(../img/t6.png); }
.Session .contents li { background: #7d0022; width: 300px; height: 300px; float: left; display: block; margin-left: 10px; margin-top: 10px; }
.Session .contents li div { width: 122px; height: 124px; margin: 0px auto; margin-top: 90px; cursor: pointer; position: relative; }
.Session .contents li span { text-align: center; color: #7d0022; margin-top: 15px; display: none; }
.Session .contents li p { width: 217px; text-align: center; color: #fff; margin: 80px auto; }
.Session .contents li div.icon1 { background: url(../img/icon1.png); background-position: -98px -320px; }
.Session .contents li div.icon2 { background: url(../img/icon1.png); background-position: -408px -320px; }
.Session .contents li div.icon3 { background: url(../img/icon1.png); background-position: -718px -320px;}
.Session .contents li div.icon4 { background: url(../img/icon1.png); background-position: -94px -530px; }
.Session .contents li div.icon5 { background: url(../img/icon1.png); background-position: -408px -530px; }
.Session .contents li div.icon6 { background: url(../img/icon1.png); background-position: -726px -530px; }
.Session .contents li div.icon1:hover { background: url(../img/icon1.png); background-position: -98px -74px;}
.Session .contents li div.icon2:hover { background: url(../img/icon1.png); background-position: -408px -74px; }
.Session .contents li div.icon3:hover { background: url(../img/icon1.png); background-position: -718px -74px; }
.Session .contents li div.icon4:hover { background: url(../img/icon1.png); background-position: -94px -696px; }
.Session .contents li div.icon5:hover { background: url(../img/icon1.png); background-position: -408px -696px; }
.Session .contents li div.icon6:hover { background: url(../img/icon1.png); background-position: -726px -696px; }
.Session .contents li div i { background: url(../img/shubiao.png); width: 33px; height: 42px; position: absolute; bottom: -1px; right: 0px; }
.bb1 { width: 230px; display: block;  margin:0, auto; height: 43px; background: #7d0022; font-size: 14px; color: #fff; text-align: center; margin: 0 auto; line-height: 43px; cursor: pointer; border-radius: 5px; border: 1px solid #7d0022; margin-top: 60px; }
.bb1:hover { background: #fff; color: #7d0022 !important; border: 1px solid #7d0022; }
.nvshen { width: 100%; background: #edecf0; margin-top: 400px; padding: 103px 0; }
.widget-title { margin-bottom: 20px; display: block; position: relative; }
.widget-title h4 { padding-top: 0; margin-top: 0; font-size: 16px; font-weight: 500; letter-spacing: 0px; padding: 0 0 10px 0; color: #363a47; line-height: 1.6 !important; font-family: 'Abel' , 'Hiragino Sans GB' , 'Microsoft YaHei'; margin-bottom: 0; }
hr { border-color: #7d0022; margin: 0; text-align: left; border-width: 2px; width: 45px; border-top: 1px solid #eee; border-left: 1px solid #eee; border-right: 1px solid #eee; }
.nvshen p { width: 652px; padding: 0 0 20px 0; font-size: 14px; }
.nvshen .ban { float: left; }
.nvshen .ban1 { float: left; margin-left: 45px; }
.nvshen .list-item { display: -webkit-box; box-sizing: border-box; font-size: 13px; }
.nvshen .fa { display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.nvshen .list-item i { background: url(../img/js.png); width: 5px; height: 9px; margin-right: 5px; }
.nvshen .ban1 ul li { margin-bottom: 5px; }
.nvshen .girl { position: absolute; top: -94px; right: 35px; }

.footer { background-color: #ffffff; width: 100%; padding-top: 105px; }
.row { margin-right: -15px; margin-left: -15px; }
.col-md-6 { width: 50%; float: left; }
.btn, a { outline: 0 !important; text-decoration: none !important; }
.footer p { padding-bottom: 10px; color: #999eab; }
.contact-details { margin-top: 0px; }
.contact-details, .popular-courses { list-style: none; padding: 0; }
.contact-details li { /* color: #ffffff; */ margin-bottom: 5px; vertical-align: middle; }
.contact-details li i { padding-right: 7px; width: 15px; height: 19px; display: inline-block; vertical-align:middle; }
.contact-details li a { /* color: #fff; */ text-decoration: underline !important; font-size: 14px; }
.footer p { width: 100%; padding: 0 0 20px 0; font-size: 14px; }
.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img { display: block; max-width: 100%; height: auto; }
.fa-link { background: url(../img/footericon.png); background-position: -1px -5px; }
.fa-envelope { background: url(../img/footericon.png); background-position: -1px -41px; }
.fa-weixin { background: url(../img/footericon.png); background-position: -2px -75px; }
.fa-weibo { background: url(../img/footericon.png); background-position: -2px -110px; }


