.alert {
  position: fixed;
  width: 200px;
  padding: 30px 50px;
  background-color: #fff;
  border: 3px solid #dd4400;
  left: 0;
  right: 0;
  margin: auto;
  top: 200px;
  z-index: 999;
}
.alert-title {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}
.alert-input-group input {
  outline: none;
  padding: 5px 20px;
  background-color: #efefef;
  border: none;
  font-size: 12px;
  box-sizing: border-box;
  width: 100%;
  height: 36px;
  line-height: 26px;
  border-radius: 3px;
}
.alert-input-group button {
  display: block;
  background-color: transparent;
  width: 100%;
  height: 30px;
  font-size: 14px;
  text-decoration: none;
  color: #e26f42;
  border: 1px solid;
  line-height: 20px;
  border-radius: 50px;
  text-align: center;
  margin-top: 20px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
.alert-input-group button:hover {
  background-color: #e26f42;
  color: #f5f6f7;
}
