@import '../fonts/font.css';
body {
  font-family: 'Myriad Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
}
.general-container {
  width: 1296px;
  margin: auto;
}
.flute-container {
  width: 100%;
  min-width: 900px;
  margin: auto;
}
.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}
.back-to-top {
  position: fixed;
  right: 20px;
  bottom: 70px;
  z-index: 10;
}
.back-to-top-btn {
  display: block;
  background-color: #e26f42;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 26px;
  color: white;
  text-decoration: none;
  box-shadow: 1px 1px 10px #1e2020;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.back-to-top-btn .icon-to-top {
  margin-top: 5px;
}
.back-to-top-btn:hover {
  background-color: #dd4400;
}
.icon-next-section {
  background-image: url(../images/home-next-page.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  width: 28px;
  height: 25px;
}
.icon-to-top {
  background-image: url(../images/back-to-top.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  width: 30px;
  height: 30px;
}
.icon-star {
  background-image: url(../images/star-icons.png);
  background-repeat: no-repeat;
  background-position: 0 -10px;
  display: inline-block;
  width: 12px;
  height: 11px;
}
.icon-star.active {
  background-position: 0 0;
}
.icon-star-blue {
  background-image: url(../images/star-icons-blue.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  display: inline-block;
  width: 12px;
  height: 11px;
}
.icon-star-blue.active {
  background-position: 0 -11px;
}
.icon-star-orange {
  background-image: url(../images/star-icons-orange.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  display: inline-block;
  width: 12px;
  height: 11px;
}
.icon-star-orange.active {
  background-position: 0 -11px;
}
.icon-search {
  display: inline-block;
  width: 23px;
  height: 23px;
  background-image: url(../images/search-icon.png);
  background-repeat: no-repeat;
}
.icon-like {
  display: inline-block;
  width: 17px;
  height: 17px;
  background-image: url(../images/icons-2.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.icon-position {
  display: inline-block;
  width: 17px;
  height: 17px;
  background-image: url(../images/icons-2.png);
  background-repeat: no-repeat;
  background-position: 0 -30px;
}
.icon-comment {
  display: inline-block;
  width: 17px;
  height: 17px;
  background-image: url(../images/icons-2.png);
  background-repeat: no-repeat;
  background-position: 0 -60px;
}
.icon-phone {
  display: inline-block;
  width: 22px;
  height: 22px;
  background-image: url(../images/icon-phone.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.icon-select-down {
  display: inline-block;
  width: 7px;
  height: 5px;
  background-image: url(../images/select-triangle-icon.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.icon-next {
  display: inline-block;
  width: 8px;
  height: 10px;
  background-image: url(../images/next-triangle.png);
  background-repeat: no-repeat;
  background-size: cover;
}
input,
button,
textarea {
  outline: none;
}
.j-select {
  position: relative;
  height: 1em;
  text-align: left;
}
.j-select:hover > ul {
  height: 100px;
  opacity: 1;
}
.j-select > .placeholder {
  color: #aaa;
}
.j-select > ul {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  overflow: auto;
  height: 0;
  opacity: 0;
}
@media screen and (max-width: 1336px) {
  .general-container {
    width: 1046px;
  }
}
@media screen and (max-width: 1080px) {
  .general-container {
    width: 940px;
  }
}
@media screen and (max-width: 940px) {
  .general-container {
    width: 700px;
  }
}

