.topnav {
  color: #dd4400;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: all .3s ease;
  height: 80px;
  background-color: #ecedee;
  opacity: 1;
  z-index: 10;
}
.topnav.hidden {
  opacity: 0;
  top: -80px;
}
.topnav-topline {
  height: 10px;
  background-color: #dd4400;
}
.topnav-container {
  margin: 20px 50px;
  height: 30px;
}
.topnav-logo {
  float: left;
  height: 30px;
}
.topnav-nav {
  float: right;
  height: 30px;
}
.topnav-nav-list {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}
.topnav-nav-list li {
  float: left;
  margin-right: 15px;
  padding: 3px 0;
}
.topnav-nav-list li a {
  padding: 0 8px;
  display: inline-block;
  height: 24px;
  line-height: 24px;
  color: #dd4400;
  text-decoration: none;
}
.topnav-nav-list li a:hover {
  text-decoration: underline;
}
.topnav-nav-list li a.active {
  font-weight: bold;
}
.topnav-nav-list-login {
  border-right: 1px solid #dd4400;
}
